In [1]:
#Importing Dependencies
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn import neighbors
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [2]:
#ETL FOR ALTERNATIVE DATA SOURCE, IGNORE THIS ONE!
# books_df= pd.read_csv("books.csv", on_bad_lines='skip')
# books_df.head()

In [4]:
#ETL FOR BX-Books, change position A1 to 'ISBN' in the CSV in Excel!
#I had to change the encoding because the CSV would not read in with UTF-08.
BX_1= pd.read_csv("Resources/BX-Books.csv", on_bad_lines='skip', encoding='latin-1' )
BX_1.head()

C:\Users\Tyler\AppData\Local\Temp\ipykernel_13316\2278673092.py:3: DtypeWarning: Columns (9,10,11,12,13,14,15,16,17,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  BX_1= pd.read_csv("Resources/BX-Books.csv", on_bad_lines='skip', encoding='latin-1' )

,ISBN,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,"0195153448;""Classical Mythology"";""Mark P. O. M...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"0002005018;""Clara Callan"";""Richard Bruce Wrigh...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"0060973129;""Decision in Normandy"";""Carlo D'Est...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"0374157065;""Flu: The Story of the Great Influe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"0393045218;""The Mummies of Urumchi"";""E. J. W. ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Splitting the ISBN column based on the semi-colon
BX_1_split= BX_1['ISBN'].str.split(';')
BX_1_split.head()

0    [0195153448, "Classical Mythology", "Mark P. O...
1    [0002005018, "Clara Callan", "Richard Bruce Wr...
2    [0060973129, "Decision in Normandy", "Carlo D'...
3    [0374157065, "Flu: The Story of the Great Infl...
4    [0393045218, "The Mummies of Urumchi", "E. J. ...
Name: ISBN, dtype: object

In [20]:
#Turning this split into a dataframe
BX_1_df= pd.DataFrame(BX_1_split.tolist()).add_prefix('Book_')
BX_1_df.head(30)

,Book_0,Book_1,Book_2,Book_3,Book_4,Book_5,Book_6,Book_7,Book_8,Book_9,Book_10,Book_11,Book_12,Book_13
0,0195153448,"""Classical Mythology""","""Mark P. O. Morford""","""2002""","""Oxford University Press""","""http://images.amazon.com/images/P/0195153448....","""http://images.amazon.com/images/P/0195153448....","""http://images.amazon.com/images/P/0195153448....",None,None,None,None,None,None
1,0002005018,"""Clara Callan""","""Richard Bruce Wright""","""2001""","""HarperFlamingo Canada""","""http://images.amazon.com/images/P/0002005018....","""http://images.amazon.com/images/P/0002005018....","""http://images.amazon.com/images/P/0002005018....",None,None,None,None,None,None
2,0060973129,"""Decision in Normandy""","""Carlo D'Este""","""1991""","""HarperPerennial""","""http://images.amazon.com/images/P/0060973129....","""http://images.amazon.com/images/P/0060973129....","""http://images.amazon.com/images/P/0060973129....",None,None,None,None,None,None
3,0374157065,"""Flu: The Story of the Great Influenza Pandemi...","""Gina Bari Kolata""","""1999""","""Farrar Straus Giroux""","""http://images.amazon.com/images/P/0374157065....","""http://images.amazon.com/images/P/0374157065....","""http://images.amazon.com/images/P/0374157065....",None,None,None,None,None,None
4,0393045218,"""The Mummies of Urumchi""","""E. J. W. Barber""","""1999""","""W. W. Norton &amp","Company""","""http://images.amazon.com/images/P/0393045218....","""http://images.amazon.com/images/P/0393045218....","""http://images.amazon.com/images/P/0393045218....",None,None,None,None,None
5,0399135782,"""The Kitchen God's Wife""","""Amy Tan""","""1991""","""Putnam Pub Group""","""http://images.amazon.com/images/P/0399135782....","""http://images.amazon.com/images/P/0399135782....","""http://images.amazon.com/images/P/0399135782....",None,None,None,None,None,None
6,0425176428,"""What If?: The World's Foremost Military Histo...","""Robert Cowley""","""2000""","""Berkley Publishing Group""","""http://images.amazon.com/images/P/0425176428....","""http://images.amazon.com/images/P/0425176428....","""http://images.amazon.com/images/P/0425176428....",None,None,None,None,None,None
7,0671870432,"""PLEADING GUILTY""","""Scott Turow""","""1993""","""Audioworks""","""http://images.amazon.com/images/P/0671870432....","""http://images.amazon.com/images/P/0671870432....","""http://images.amazon.com/images/P/0671870432....",None,None,None,None,None,None
8,0679425608,"""Under the Black Flag: The Romance and the Rea...","""David Cordingly""","""1996""","""Random House""","""http://images.amazon.com/images/P/0679425608....","""http://images.amazon.com/images/P/0679425608....","""http://images.amazon.com/images/P/0679425608....",None,None,None,None,None,None
9,074322678X,"""Where You'll Find Me: And Other Stories""","""Ann Beattie""","""2002""","""Scribner""","""http://images.amazon.com/images/P/074322678X....","""http://images.amazon.com/images/P/074322678X....","""http://images.amazon.com/images/P/074322678X....",None,None,None,None,None,None
10,0771074670,"""Nights Below Station Street""","""David Adams Richards""","""1988""","""Emblem Editions""","""http://images.amazon.com/images/P/0771074670....","""http://images.amazon.com/images/P/0771074670....","""http://images.amazon.com/images/P/0771074670....",None,None,None,None,None,None
11,080652121X,"""Hitler's Secret Bankers: The Myth of Swiss Ne...","""Adam Lebor""","""2000""","""Citadel Press""","""http://images.amazon.com/images/P/080652121X....","""http://images.amazon.com/images/P/080652121X....","""http://images.amazon.com/images/P/080652121X....",None,None,None,None,None,None
12,0887841740,"""The Middle Stories""","""Sheila Heti""","""2004""","""House of Anansi Press""","""http://images.amazon.com/images/P/0887841740....","""http://images.amazon.com/images/P/0887841740....","""http://images.amazon.com/images/P/0887841740....",None,None,None,None,None,None
13,1552041778,"""Jane Doe""","""R. J. Kaiser""","""1999""","""Mira Books""","""http://images.amazon.com/images/P/1552041778....","""http://images.amazon.com/images/P/1552041778....","""http://images.amazon.com/images/P/1552041778....",None,None,None,None,None,None
14,1558746218,"""A Second Chicken Soup for the Woman's Soul (C...","""Jack Canfield""","""1998""","""Health Communications""","""http://images.amazon.com/images/P/1558746218....","""http://images.amazon.com/images/P/1558746218....","""http://images.amazon.com/images/P/1558746218....",None,None,None,None,None,None
15,1567407781,"""The Witchfinder (Amos Walker Mystery Series)""","""Loren D. Estleman""","""1998""","""Brilliance Audio - Trade""","""http://images.amazon.com/images/P/1567407781....","""http://images.amazon.com/images/P/1567407781....","""http://images.amazon.com/images/P/1567407781....",None,None,None,None,None,None
16,1575663937,"""More Cunning Than Man: A Social History of Ra...","""Robert Hendrickson""","""1999""","""Kensington Publishing Corp.""","""http://images.amazon.com/images/P/1575663937....","""http://images.amazon.com/images/P/1575663937....","""http://images.amazon.com/images/P/1575663937....",None,None,None,None,None,None
17,1881320189,"""Goodbye to the Buttermilk Sky""","""Julia Oliver""","""1994""","""River City Pub""","""http://images.amazon.com/images/P/1881320189....","""http://images.amazon.com/images/P/1881320189....","""http://images.amazon.com/images/P/1881320189....",None,None,None,None,None,None
18,0440234743,"""The Testament""","""John Grisham""","""1999""","""Dell""","""http://images.amazon.com/images/P/0440234743....","""http://images.amazon.com/images/P/0440234743....","""http://images.amazon.com/images/P/0440234743....",None,None,None,None,None,None
19,0452264464,"""Beloved (Plume Contemporary Fiction)""","""Toni Morrison""","""1994""","""Plume""","""http://images.amazon.com/images/P/0452264464....","""http://images.amazon.com/images/P/0452264464....","""http://images.amazon.com/images/P/0452264464....",None,None,None,None,None,None
20,0609804618,"""Our Dumb Century: The Onion Presents 100 Year...","""The Onion""","""1999""","""Three Rivers Press""","""http://images.amazon.com/images/P/0609804618....","""http://images.amazon.com/images/P/0609804618....","""http://images.amazon.com/images/P/0609804618....",None,None,None,None,None,None
21,1841721522,"""New Vegetarian: Bold and Beautiful Recipes fo...","""Celia Brooks Brown""","""2001""","""Ryland Peters &amp","Small Ltd""","""http://images.amazon.com/images/P/1841721522....","""http://images.amazon.com/images/P/1841721522....","""http://images.amazon.com/images/P/1841721522....",None,None,None,None,None
22,1879384493,"""If I'd Known Then What I Know Now: Why Not Le...","""J. R. Parrish""","""2003""","""Cypress House""","""http://images.amazon.com/images/P/1879384493....","""http://images.amazon.com/images/P/1879384493....","""http://images.amazon.com/images/P/1879384493....",None,None,None,None,None,None
23,0061076031,"""Mary-Kate &amp",Ashley Switching Goals (Mary-Kate and Ashley ...,"""Mary-Kate &amp","Ashley Olsen""","""2000""","""HarperEntertainment""","""http://images.amazon.com/images/P/0061076031....","""http://images.amazon.com/images/P/0061076031....","""http://images.amazon.com/images/P/0061076031....",None,None,None,None
24,0439095026,"""Tell Me This Isn't Happening""","""Robynn Clairday""","""1999""","""Scholastic""","""http://images.amazon.com/images/P/0439095026....","""http://images.amazon.com/images/P/0439095026....","""http://images.amazon.com/images/P/0439095026....",None,None,None,None,None,None
25,0689821166,"""Flood : Mississippi 1927""","""Kathleen Duey""","""1998""","""Aladdin""","""http://images.amazon.com/images/P/0689821166....","""http://images.amazon.com/images/P/0689821166....","""http://images.amazon.com/images/P/0689821166....",None,None,None,None,None,None
26,0971880107,"""Wild Animus""","""Rich Shapero""","""2004""","""Too Far""","""http://images.amazon.com/images/P/0971880107....","""http://images.amazon.com/images/P/0971880107....","""http://images.amazon.com/images/P/0971880107....",None,None,None,None,None,None
27,0345402871,"""Airframe""","""Michael Crichton""","""1997""","""Ballantine Books""","""http://images.amazon.com/images/P/0345402871....","""http://images.amazon.com/images/P/0345402871....","""http://images.amazon.com/images/P/0345402871....",None,None,None,None,None,None
28,0345417623,"""Timeline""","""MICHAEL CRICHTON""","""2000""","""Ballantine Books""","""http://images.amazon.com/images/P/0345417623....","""http://images.amazon.com/images/P/0345417623....","""http://images.amazon.com/images/P/0345417623....",None,None,None,None,None,None
29,0684823802,"""OUT OF THE SILENT PLANET""","""C.S. Lewis""","""1996""","""Scribner""","""http://images.amazon.com/images/P/0684823802....","""http://images.amazon.com/images/P/0684823802....","""http://images.amazon.com/images/P/0684823802....",None,None,None,None,None,None

In [7]:
#Removing the unnecessary columns
BX_1_drop= BX_1_df.drop(columns=['Book_5','Book_6', 'Book_7','Book_8','Book_9', 
                                      'Book_10', 'Book_11', 'Book_12', 'Book_13'])
BX_1_drop.head()

,Book_0,Book_1,Book_2,Book_3,Book_4
0,0195153448,"""Classical Mythology""","""Mark P. O. Morford""","""2002""","""Oxford University Press"""
1,0002005018,"""Clara Callan""","""Richard Bruce Wright""","""2001""","""HarperFlamingo Canada"""
2,0060973129,"""Decision in Normandy""","""Carlo D'Este""","""1991""","""HarperPerennial"""
3,0374157065,"""Flu: The Story of the Great Influenza Pandemi...","""Gina Bari Kolata""","""1999""","""Farrar Straus Giroux"""
4,0393045218,"""The Mummies of Urumchi""","""E. J. W. Barber""","""1999""","""W. W. Norton &amp"

In [69]:
#Renaming the columns. This is the final step for BX-Books.csv
BX_1 = BX_1_drop.rename(columns={'Book_0': 'ISBN', 'Book_1': 'Title', 'Book_2': 'Author', 
                                        'Book_3': 'Year', 'Book_4': 'Publisher'})
BX_1

,ISBN,Title,Author,Year,Publisher
0,0195153448,"""Classical Mythology""","""Mark P. O. Morford""","""2002""","""Oxford University Press"""
1,0002005018,"""Clara Callan""","""Richard Bruce Wright""","""2001""","""HarperFlamingo Canada"""
2,0060973129,"""Decision in Normandy""","""Carlo D'Este""","""1991""","""HarperPerennial"""
3,0374157065,"""Flu: The Story of the Great Influenza Pandemi...","""Gina Bari Kolata""","""1999""","""Farrar Straus Giroux"""
4,0393045218,"""The Mummies of Urumchi""","""E. J. W. Barber""","""1999""","""W. W. Norton &amp"
...,...,...,...,...,...
271374,0440400988,"""There's a Bat in Bunk Five""","""Paula Danziger""","""1988""","""Random House Childrens Pub (Mm)"""
271375,0525447644,"""From One to One Hundred""","""Teri Sloat""","""1991""","""Dutton Books"""
271376,006008667X,"""Lily Dale : The True Story of the Town that T...","""Christine Wicker""","""2004""","""HarperSanFrancisco"""
271377,0192126040,"""Republic (World's Classics)""","""Plato""","""1996""","""Oxford University Press"""
271378,0767409752,"""A Guided Tour of Rene Descartes' Meditations ...","""Christopher Biffle""","""2000""","""McGraw-Hill Humanities/Social Sciences/Langua..."

In [70]:
#Reading in the BX-Books-Ratings.csv. Change position A1 to Book-Rating in Excel to make this easy!
BX_ratings= pd.read_csv("Resources/BX-Book-Ratings.csv",
                        on_bad_lines='skip', encoding='latin-1')
BX_ratings

C:\Users\Tyler\AppData\Local\Temp\ipykernel_13316\1460170133.py:2: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  BX_ratings= pd.read_csv("Resources/BX-Book-Ratings.csv",

                     Book-Rating Unnamed: 1 Unnamed: 2
0        276725;"034545104X";"0"        NaN        NaN
1        276726;"0155061224";"5"        NaN        NaN
2        276727;"0446520802";"0"        NaN        NaN
3        276729;"052165615X";"3"        NaN        NaN
4        276729;"0521795028";"6"        NaN        NaN
...                          ...        ...        ...
1048570  250764;"0451410777";"0"        NaN        NaN
1048571  250764;"0452264464";"8"        NaN        NaN
1048572  250764;"048623715X";"0"        NaN        NaN
1048573  250764;"0486256588";"0"        NaN        NaN
1048574  250764;"0515069434";"0"        NaN        NaN

[1048575 rows x 3 columns]

In [11]:
#Splitting the Book-Rating column based on the semi-colon
BX_ratings_split= BX_ratings['Book-Rating'].str.split(';')
BX_ratings_split.head()

0    [276725, "034545104X", "0"]
1    [276726, "0155061224", "5"]
2    [276727, "0446520802", "0"]
3    [276729, "052165615X", "3"]
4    [276729, "0521795028", "6"]
Name: Book-Rating, dtype: object

In [12]:
#Pushing the split to a dataframe
BX_ratings_df= pd.DataFrame(BX_ratings_split.tolist()).add_prefix('Col_')
BX_ratings_df.head()

    Col_0         Col_1 Col_2
0  276725  "034545104X"   "0"
1  276726  "0155061224"   "5"
2  276727  "0446520802"   "0"
3  276729  "052165615X"   "3"
4  276729  "0521795028"   "6"

In [65]:
#Renaming the columns
BX_ratings= BX_ratings_df.rename(columns={'Col_0': 'Review_ID', 'Col_1': 'ISBN_1', 'Col_2': 'Rating'})
BX_ratings.head()

  Review_ID        ISBN_1 Rating
0    276725  "034545104X"    "0"
1    276726  "0155061224"    "5"
2    276727  "0446520802"    "0"
3    276729  "052165615X"    "3"
4    276729  "0521795028"    "6"

In [67]:
#Dropping the apostrophes around ISBN_1 so it will join with the first CSV 
BX_ratings['ISBN_1']= BX_ratings['ISBN_1'].str.replace(r'"', '')
BX_ratings.head()

  Review_ID      ISBN_1 Rating
0    276725  034545104X    "0"
1    276726  0155061224    "5"
2    276727  0446520802    "0"
3    276729  052165615X    "3"
4    276729  0521795028    "6"

In [68]:
#Joining the ratings csv with the books csv based on matching their ISBNs.
BX_complete= pd.merge(BX_ratings, BX_1, left_on="ISBN_1", right_on="ISBN", how="inner")
BX_complete

,Review_ID,ISBN_1,Rating,ISBN,Title,Author,Year,Publisher
0,276725,034545104X,"""0""",034545104X,"""Flesh Tones: A Novel""","""M. J. Rose""","""2002""","""Ballantine Books"""
1,2313,034545104X,"""5""",034545104X,"""Flesh Tones: A Novel""","""M. J. Rose""","""2002""","""Ballantine Books"""
2,6543,034545104X,"""0""",034545104X,"""Flesh Tones: A Novel""","""M. J. Rose""","""2002""","""Ballantine Books"""
3,8680,034545104X,"""5""",034545104X,"""Flesh Tones: A Novel""","""M. J. Rose""","""2002""","""Ballantine Books"""
4,10314,034545104X,"""9""",034545104X,"""Flesh Tones: A Novel""","""M. J. Rose""","""2002""","""Ballantine Books"""
...,...,...,...,...,...,...,...,...
940669,250764,0440106575,"""0""",0440106575,"""HIDDEN FIRES""","""JANETTE RADCLIFFE""","""1978""","""Dell"""
940670,250764,0451157516,"""0""",0451157516,"""Cheyenne (Fortunes West",None,None,None
940671,250764,048623715X,"""0""",048623715X,"""Glamorous Movie Stars of the Thirties: Paper ...","""Tom Tierney""","""1982""","""Dover Publications"""
940672,250764,0486256588,"""0""",0486256588,"""Schiaparelli Fashion Review: Paper Dolls in F...","""Tom Tierney""","""1988""","""Dover Publications"""
940673,250764,0515069434,"""0""",0515069434,"""Lady Laughing Eyes (To Have and to Hold)""","""Lee Damon""","""1984""","""Jove Books"""

In [16]:
#Getting an overview of the data
BX_complete.describe()

,User_ID,ISBN_1,Rating,ISBN,Title,Author,Year,Publisher
count,940674,940674,940674,940674,940674,837879,834349,834178
unique,83600,257824,11,257824,227363,90817,3654,14624
top,11676,0971880107,"""0""",0971880107,"""Wild Animus""","""Stephen King""","""2002""","""Ballantine Books"""
freq,11144,2262,589028,2262,2262,8135,74594,29552

In [43]:
BX_users = pd.read_csv("Resources/BX-Users.csv", on_bad_lines='skip', encoding='latin-1', delimiter=';')
BX_users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [37]:
BX_users.dtypes

User-ID       int64
Location     object
Age         float64
dtype: object

In [40]:
null_value_count = BX_users.isnull().sum()
print(null_value_count)

User-ID          0
Location         0
Age         110762
dtype: int64

In [41]:
BX_users.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [44]:
BX_complete.isnull().sum()

User_ID           0
ISBN_1            0
Rating            0
ISBN              0
Title             0
Author       102795
Year         106325
Publisher    106496
dtype: int64

In [50]:
BX_users_no_null = BX_users.dropna()
BX_users_no_null

        User-ID                            Location   Age
1             2           stockton, california, usa  18.0
3             4           porto, v.n.gaia, portugal  17.0
5             6       santa monica, california, usa  61.0
9            10          albacete, wisconsin, spain  26.0
10           11      melbourne, victoria, australia  14.0
...         ...                                 ...   ...
278848   278849         georgetown, ontario, canada  23.0
278850   278851                  dallas, texas, usa  33.0
278851   278852     brisbane, queensland, australia  32.0
278852   278853      stranraer, n/a, united kingdom  17.0
278854   278855  tacoma, washington, united kingdom  50.0

[168096 rows x 3 columns]

In [54]:
BX_users.dropna()

        User-ID                            Location   Age
1             2           stockton, california, usa  18.0
3             4           porto, v.n.gaia, portugal  17.0
5             6       santa monica, california, usa  61.0
9            10          albacete, wisconsin, spain  26.0
10           11      melbourne, victoria, australia  14.0
...         ...                                 ...   ...
278848   278849         georgetown, ontario, canada  23.0
278850   278851                  dallas, texas, usa  33.0
278851   278852     brisbane, queensland, australia  32.0
278852   278853      stranraer, n/a, united kingdom  17.0
278854   278855  tacoma, washington, united kingdom  50.0

[168096 rows x 3 columns]

In [55]:
BX_users.rename(columns={'User-ID':'User_ID'}, inplace=True)

In [60]:
BX_users['User_ID'] = BX_users['User_ID'].astype(str)
BX_complete['User_ID'] = BX_complete['User_ID'].astype(str)
BX_total = pd.merge(BX_complete, BX_users, left_on="User_ID", right_on="User_ID", how="inner")
BX_total.head(20)

,User_ID,ISBN_1,Rating,ISBN,Title,Author,Year,Publisher,Location,Age
0,276725,034545104X,"""0""",034545104X,"""Flesh Tones: A Novel""","""M. J. Rose""","""2002""","""Ballantine Books""","tyler, texas, usa",NaN
1,2313,034545104X,"""5""",034545104X,"""Flesh Tones: A Novel""","""M. J. Rose""","""2002""","""Ballantine Books""","cincinnati, ohio, usa",23.0
2,2313,0812533550,"""9""",0812533550,"""Ender's Game (Ender Wiggins Saga (Paperback))""","""Orson Scott Card""","""1986""","""Tor Books""","cincinnati, ohio, usa",23.0
3,2313,0679745580,"""8""",0679745580,"""In Cold Blood (Vintage International)""","""TRUMAN CAPOTE""","""1994""","""Vintage""","cincinnati, ohio, usa",23.0
4,2313,0060173289,"""9""",0060173289,"""Divine Secrets of the Ya-Ya Sisterhood : A No...","""Rebecca Wells""","""1996""","""HarperCollins""","cincinnati, ohio, usa",23.0
5,2313,0385482388,"""5""",0385482388,"""The Mistress of Spices""","""Chitra Banerjee Divakaruni""","""1998""","""Anchor Books/Doubleday""","cincinnati, ohio, usa",23.0
6,2313,0399146431,"""5""",0399146431,"""The Bonesetter's Daughter""","""Amy Tan""","""2001""","""Putnam Publishing Group""","cincinnati, ohio, usa",23.0
7,2313,0345348036,"""9""",0345348036,"""The Princess Bride: S Morgenstern's Classic T...","""WILLIAM GOLDMAN""","""1987""","""Del Rey""","cincinnati, ohio, usa",23.0
8,2313,0553278223,"""7""",0553278223,"""The Martian Chronicles""","""RAY BRADBURY""","""1984""","""Spectra""","cincinnati, ohio, usa",23.0
9,2313,0449912558,"""0""",0449912558,"""The Sparrow""","""MARY DORIA RUSSELL""","""1997""","""Fawcett Books""","cincinnati, ohio, usa",23.0
10,2313,0020442602,"""9""",0020442602,"""Voyage of the Dawn Treader""","""C. S. Lewis""","""1970""","""MacMillan Publishing Company.""","cincinnati, ohio, usa",23.0
11,2313,0295955252,"""8""",0295955252,"""No-No Boy""","""John Okada""","""1978""","""University of Washington Press""","cincinnati, ohio, usa",23.0
12,2313,0300069049,"""0""",0300069049,"""Cosima Wagner's Diaries: An Abridgement""","""Cosima Wagner""","""1997""","""Yale University Press""","cincinnati, ohio, usa",23.0
13,2313,0312186754,"""5""",0312186754,"""An Arrow's Flight""","""Mark Merlis""","""1998""","""St Martins Pr""","cincinnati, ohio, usa",23.0
14,2313,0312275560,"""6""",0312275560,"""The Path of Minor Planets : A Novel""","""Andrew Sean Greer""","""2001""","""Picador""","cincinnati, ohio, usa",23.0
15,2313,0312876513,"""6""",0312876513,"""Shadow of the Hegemon (Ender Wiggins Saga (Ha...","""Orson Scott Card""","""2001""","""Tor Books""","cincinnati, ohio, usa",23.0
16,2313,0375706771,"""0""",0375706771,"""Midwives: A Novel""","""Chris Bohjalian""","""1998""","""Vintage""","cincinnati, ohio, usa",23.0
17,2313,0385470142,"""9""",0385470142,"""Fires in the Mirror: Crown Heights",None,None,None,"cincinnati, ohio, usa",23.0
18,2313,0394756827,"""10""",0394756827,"""Godel",None,None,None,"cincinnati, ohio, usa",23.0
19,2313,0395874653,"""8""",0395874653,"""Kaleidoscope Readings in Education""","""K. Ryan""","""1997""","""Houghton Mifflin College""","cincinnati, ohio, usa",23.0

In [61]:
sorted_df = BX_total.sort_values(by='User_ID')
sorted_df.head(20)

,User_ID,ISBN_1,Rating,ISBN,Title,Author,Year,Publisher,Location,Age
847484,10,1841721522,"""0""",1841721522,"""New Vegetarian: Bold and Beautiful Recipes fo...","""Celia Brooks Brown""","""2001""","""Ryland Peters &amp","albacete, wisconsin, spain",26.0
861583,1000,8850200005,"""0""",8850200005,"""Il Dio Delle Piccole Cose""","""Arundhati Roy""","""2002""","""Distribooks Inc""","teramo, abruzzo, italy",34.0
811319,100001,0425182673,"""0""",0425182673,"""Cybernation (Tom Clancy's Net Force",None,None,None,"grimstad, aust-agder, norway",NaN
900613,100002,0345397819,"""8""",0345397819,"""Lasher: Lives of the Mayfair Witches (Lives o...","""Anne Rice""","""1995""","""Ballantine Books""","dunkirk, new york, usa",NaN
614816,100004,059035342X,"""10""",059035342X,"""Harry Potter and the Sorcerer's Stone (Harry ...","""J. K. Rowling""","""1999""","""Arthur A. Levine Books""","san ysidro, california, usa",0.0
614817,100004,0440414806,"""0""",0440414806,"""Holes (Yearling Newbery)""","""LOUIS SACHAR""","""2000""","""Yearling""","san ysidro, california, usa",0.0
614818,100004,0439064872,"""10""",0439064872,"""Harry Potter and the Chamber of Secrets (Book...","""J. K. Rowling""","""2000""","""Scholastic""","san ysidro, california, usa",0.0
614819,100004,0061015725,"""0""",0061015725,"""Prey""","""Michael Crichton""","""2003""","""Avon Books""","san ysidro, california, usa",0.0
614823,100004,0345339711,"""0""",0345339711,"""The Two Towers (The Lord of the Rings",None,None,None,"san ysidro, california, usa",0.0
614824,100004,0345339738,"""0""",0345339738,"""The Return of the King (The Lord of the Rings",None,None,None,"san ysidro, california, usa",0.0
614825,100004,0425083837,"""10""",0425083837,"""The Hunt for Red October""","""Tom Clancy""","""1985""","""Berkley Publishing Group""","san ysidro, california, usa",0.0
614826,100004,0399146652,"""8""",0399146652,"""The Cat Who Smelled a Rat""","""Lilian Jackson Braun""","""2001""","""Putnam Publishing Group""","san ysidro, california, usa",0.0
614822,100004,0345339703,"""10""",0345339703,"""The Fellowship of the Ring (The Lord of the R...",None,None,None,"san ysidro, california, usa",0.0
614821,100004,0446604275,"""0""",0446604275,"""Primary Colors: A Novel of Politics""","""Anonymous""","""1996""","""Warner Books""","san ysidro, california, usa",0.0
614828,100004,1569319308,"""5""",1569319308,"""Dragon Ball Z",None,None,None,"san ysidro, california, usa",0.0
614820,100004,0345380371,"""0""",0345380371,"""Rising Sun""","""MICHAEL CRICHTON""","""1992""","""Ballantine Books""","san ysidro, california, usa",0.0
614827,100004,155874942X,"""0""",155874942X,"""Chicken Soup for the Teenage Soul on Tough St...","""Jack Canfield""","""2001""","""Health Communications""","san ysidro, california, usa",0.0
539830,100009,0440224675,"""0""",0440224675,"""Hannibal""","""Thomas Harris""","""2000""","""Dell Publishing Company""","victoria, british columbia, canada",49.0
539831,100009,0060392452,"""8""",0060392452,"""Stupid White Men ...and Other Sorry Excuses f...","""Michael Moore""","""2002""","""Regan Books""","victoria, british columbia, canada",49.0
539832,100009,0743412273,"""0""",0743412273,"""Pet Sematary""","""Stephen King""","""2001""","""Pocket""","victoria, british columbia, canada",49.0

In [64]:
BX_complete_sorted = BX_complete.sort_values(by='User_ID')
BX_complete_sorted

,User_ID,ISBN_1,Rating,ISBN,Title,Author,Year,Publisher
169256,10,1841721522,"""0""",1841721522,"""New Vegetarian: Bold and Beautiful Recipes fo...","""Celia Brooks Brown""","""2001""","""Ryland Peters &amp"
204696,1000,8850200005,"""0""",8850200005,"""Il Dio Delle Piccole Cose""","""Arundhati Roy""","""2002""","""Distribooks Inc"""
95203,100001,0425182673,"""0""",0425182673,"""Cybernation (Tom Clancy's Net Force",None,None,None
401972,100002,0345397819,"""8""",0345397819,"""Lasher: Lives of the Mayfair Witches (Lives o...","""Anne Rice""","""1995""","""Ballantine Books"""
223926,100004,0345339738,"""0""",0345339738,"""The Return of the King (The Lord of the Rings",None,None,None
...,...,...,...,...,...,...,...,...
6483,99997,0316666343,"""9""",0316666343,"""The Lovely Bones: A Novel""","""Alice Sebold""","""2002""","""Little"
185822,99997,0451202341,"""8""",0451202341,"""Back Roads""","""Tawni O'Dell""","""2001""","""Signet Book"""
34025,99997,0345443284,"""8""",0345443284,"""While I Was Gone""","""Sue Miller""","""1999""","""Ballantine Books"""
278264,99997,0375506039,"""0""",0375506039,"""Open House""","""Elizabeth Berg""","""2000""","""Random House Trade"""
292313,99998,0140622144,"""5""",0140622144,"""To the Lighthouse (Penguin Popular Classics)""","""Virginia Woolf""","""1996""","""Penguin Books Ltd"""

In [63]:
column_label = 'User_ID'
desired_value = '2'
result_df = BX_complete.loc[BX_complete['User_ID'] == desired_value]